/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body{
    margin: 0;
    }

*{
    font-family: 'Poppins', sans-serif;
}




*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    background-color: #EFF9FB;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
}

header .logo {
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

header .logo img {
    height: 70px;
    width: 100%;
    transition: all 0.4s;
}

header .logo img:hover {
    transform: scale(1.2);
}

header nav {
    order: 1;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    padding: 0 80px;
}

header ul li:nth-child(1) {
    padding: 0 20px 0 0;
}

header ul li:hover {
    transform: scale(1.1);
}

header ul a {
    font-weight: 700;
    font-size: 1.5rem;
    font-style: normal;
    color: #003558;
    text-decoration: none;
}

