@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


html {
    box-sizing: border-box;
    font-size: auto;
}

body {
    margin: 0;
}

#title
{
    color: rgb(47, 47, 182);
    position: relative;
    top: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    font-family: 'Poppins', sans-serif;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    background-color: #EFF9FB;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
}

header .logo {
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

header .logo img {
    height: 70px;
    width: 100%;
    transition: all 0.4s;
}

header .logo img:hover {
    transform: scale(1.2);
}

header nav {
    order: 1;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    padding: 0 80px;
}

header ul li:nth-child(1) {
    padding: 0 20px 0 0;
}

header ul li:hover {
    transform: scale(1.1);
}

header ul a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    font-style: normal;
    color: #003558;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}
/* --------------------------------------------Parte de arriba con imagen------------------------------------ */

.container .titulo_principal{
    background-image: url(/img/fondo_resena.png);
    padding: 70px;  
    width: 100%;
}

.container .titulo_principal #titulo_pueblo{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 150px;
    font-style: normal;
    color:#003558;
}
.container .titulo_principal #sub_pueblo{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* ------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------Parte de cards de abajo------------------------------------ */

.hotel-container {
    padding-top: 120px;
    width: 80rem;
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 120px;
    justify-items: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .hotel {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 50px;
    text-align: center;
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .titulo {

    background-color: white;
 
  }

  .hotel:hover {
    transform: scale(1.05);
  }

  .hotel img {
    border-radius: 10px;
    box-shadow: #000000;
    max-width: 100%;
    height: auto;
  }

  .hotel h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
   
  }

  .hotel p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .hotel ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .hotel ul li {
  font-size: 14px;
  color: #666;
  padding: .5rem 0; 
  }

  a{
  color: #003558;
}

/* ------------------------------------------------------------------------------------------------------------- */


/* --------------------------------------------Video Fondo------------------------------------ */

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(80%); 
    opacity: 0.5;
}
/* ------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------- Botones ------------------------------------------------------------- */
.boton1{
    display: flex;
    height: 10vh;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.btn{
   position: relative;
    padding: 10px 25px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 5px;
    text-indent: 10px;
    z-index: 2;
}


.btn-4::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgb(239, 249, 251), rgb(0, 213, 255), rgb(255, 255, 255), rgb(15, 127, 255));
    background-size: 300%;
    border-radius: 5px;
    z-index: -1;
    transition: all 0.4s ease;
}

.btn-4:hover::after{
    background-position: 100%;
    filter: blur(15px);
}

.btn-4::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, rgb(239, 249, 251), rgb(255, 255, 255), rgb(255, 255, 255), rgb(15, 127, 255));
    background-size: 300%;
    border-radius: 5px;
    z-index: -1;
}

.btn-4:hover::before{
    background-position: 100%;
}
/* ------------------------------------------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------footer-------------------------------------------------------- */
.footer{
    max-width: 100%;
    width: 100%;
    padding: 5px;
   background-color: rgb(239, 249, 251);
}

.footer .footer_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: 5px;
    padding: 5px;
    margin-top: 10px;
}

.footer .footer_container .social_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social_icons a{
    text-decoration: none;
    padding: 20px;
    background-color: #000000;
    color: white;
    margin: 7px;
    border-radius: 50%;
}

.social_icons a{
    border: 5px solid #003558;
    font-size: 2em;
    opacity: 0.5;
}

.social_icons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.social_icons a:hover i{
    background-color: #000000;
    transition: 0.2s;
}

.footer_nav{
    margin: 30px 0;
    width: 100%;
}

.footer_nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer_nav ul  li a{
    color: rgb(0, 0, 0);
    margin: 10px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 1;
    transition: 0.5s;
}
.footer_nav  ul li a:hover{
    opacity:0.1
}
.footer_nav p{
    display: none;
}


.bottm{
    background-color: rgb(0, 0, 0);
    width: 100%;
    max-width: 100%;
    padding: 50px;
    font-size: 12px;
    color: rgb(255, 253, 253);
    text-align: center;
    font-size: 19px;
    font-style: bold;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */




.card-hover {
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
    left: 20px;
    top: 200px;

}

.card-hover:has(.card-hover__link:hover) .card-hover__extra {
    transform: translateY(0);
    transition: transform 0.35s;
}

.card-hover:hover .card-hover__content {
    background-color: #DEE8C2;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover:hover .card-hover__link {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover__content {
    width: 100%;
    text-align: center;
    background-color: #86B971;
    padding: 0 60px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
}

.card-hover__content::before,
.card-hover__content::after {
    content: "";
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
}

.card-hover__content::before {
    top: -80px;
    -webkit-clip-path: ellipse(60% 80px at bottom center);
    clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content::after {
    bottom: -80px;
    -webkit-clip-path: ellipse(60% 80px at top center);
    clip-path: ellipse(60% 80px at top center);
}

.card-hover__title {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.card-hover__title span {
    color: #2d7f0b;
}

.card-hover__text {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-hover__link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #2d7f0b;
    opacity: 0;
    padding: 10px;
    transition: all 0.35s;
}

.card-hover__link:hover svg {
    transform: translateX(4px);
}

.card-hover__link svg {
    width: 18px;
    margin-left: 4px;
    transition: transform 0.3s;
}

.card-hover__extra {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #86b971;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #dee8c2;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.35s;
}

.card-hover__extra span {
    color: #2d7f0b;
}

.card-hover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}





/*card 2*/
.card-hover2 {
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
    left: 450px;
    bottom: 300px;

}

.card-hover2:has(.card-hover__link2:hover) .card-hover__extra2 {
    transform: translateY(0);
    transition: transform 0.35s;
}

.card-hover2:hover .card-hover__content2 {
    background-color: #DEE8C2;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover2:hover .card-hover__link2 {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover2:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover__content2 {
    width: 100%;
    text-align: center;
    background-color: #86B971;
    padding: 0 60px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
}

.card-hover__content2::before,
.card-hover__content2::after {
    content: "";
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
}

.card-hover__content2::before {
    top: -80px;
    -webkit-clip-path: ellipse(60% 80px at bottom center);
    clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content2::after {
    bottom: -80px;
    -webkit-clip-path: ellipse(60% 80px at top center);
    clip-path: ellipse(60% 80px at top center);
}

.card-hover__title2 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.card-hover__title2 span {
    color: #2d7f0b;
}

.card-hover__text2 {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-hover__link2 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #2d7f0b;
    opacity: 0;
    padding: 10px;
    transition: all 0.35s;
}

.card-hover__link2:hover svg {
    transform: translateX(4px);
}

.card-hover__link2 svg {
    width: 18px;
    margin-left: 4px;
    transition: transform 0.3s;
}

.card-hover__extra2 {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #86b971;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #dee8c2;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.35s;
}

.card-hover__extra2 span {
    color: #2d7f0b;
}

.card-hover2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}



/*card 3*/
.card-hover3 {
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
    left: 880px;
    bottom: 800px;

}

.card-hover3:has(.card-hover__link3:hover) .card-hover__extra3 {
    transform: translateY(0);
    transition: transform 0.35s;
}

.card-hover3:hover .card-hover__content3 {
    background-color: #DEE8C2;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover3:hover .card-hover__link3 {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover3:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover__content3 {
    width: 100%;
    text-align: center;
    background-color: #86B971;
    padding: 0 60px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
}

.card-hover__content3::before,
.card-hover__content3::after {
    content: "";
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
}

.card-hover__content3::before {
    top: -80px;
    -webkit-clip-path: ellipse(60% 80px at bottom center);
    clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content3::after {
    bottom: -80px;
    -webkit-clip-path: ellipse(60% 80px at top center);
    clip-path: ellipse(60% 80px at top center);
}

.card-hover__title3 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.card-hover__title3 span {
    color: #2d7f0b;
}

.card-hover__text3 {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-hover__link3 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #2d7f0b;
    opacity: 0;
    padding: 10px;
    transition: all 0.35s;
}

.card-hover__link3:hover svg {
    transform: translateX(4px);
}

.card-hover__link3 svg {
    width: 18px;
    margin-left: 4px;
    transition: transform 0.3s;
}

.card-hover__extra3 {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #86b971;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #dee8c2;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.35s;
}

.card-hover__extra3 span {
    color: #2d7f0b;
}

.card-hover3 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}





/*card 4*/
.card-hover4 {
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
    left: 1320px;
    bottom: 1300px;

}

.card-hover4:has(.card-hover__link4:hover) .card-hover__extra4 {
    transform: translateY(0);
    transition: transform 0.35s;
}

.card-hover4:hover .card-hover__content4 {
    background-color: #DEE8C2;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover4:hover .card-hover__link4 {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover4:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover__content4 {
    width: 100%;
    text-align: center;
    background-color: #86B971;
    padding: 0 60px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
}

.card-hover__content4::before,
.card-hover__content4::after {
    content: "";
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
}

.card-hover__content4::before {
    top: -80px;
    -webkit-clip-path: ellipse(60% 80px at bottom center);
    clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content4::after {
    bottom: -80px;
    -webkit-clip-path: ellipse(60% 80px at top center);
    clip-path: ellipse(60% 80px at top center);
}

.card-hover__title4 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.card-hover__title4 span {
    color: #2d7f0b;
}

.card-hover__text4 {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-hover__link4 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #2d7f0b;
    opacity: 0;
    padding: 10px;
    transition: all 0.35s;
}

.card-hover__link4:hover svg {
    transform: translateX(4px);
}

.card-hover__link4 svg {
    width: 18px;
    margin-left: 4px;
    transition: transform 0.3s;
}

.card-hover__extra4 {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #86b971;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #dee8c2;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.35s;
}

.card-hover__extra4 span {
    color: #2d7f0b;
}

.card-hover4 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}


/*card 5*/
.card-hover5 {
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
    left: 1760px;
    bottom: 1800px;

}

.card-hover5:has(.card-hover__link5:hover) .card-hover__extra5 {
    transform: translateY(0);
    transition: transform 0.35s;
}

.card-hover5:hover .card-hover__content5 {
    background-color: #DEE8C2;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover5:hover .card-hover__link5 {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover5:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover__content5 {
    width: 100%;
    text-align: center;
    background-color: #86B971;
    padding: 0 60px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
}

.card-hover__content5::before,
.card-hover__content5::after {
    content: "";
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
}

.card-hover__content5::before {
    top: -80px;
    -webkit-clip-path: ellipse(60% 80px at bottom center);
    clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content5::after {
    bottom: -80px;
    -webkit-clip-path: ellipse(60% 80px at top center);
    clip-path: ellipse(60% 80px at top center);
}

.card-hover__title5 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.card-hover__title5 span {
    color: #2d7f0b;
}

.card-hover__text5 {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-hover__link5 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #2d7f0b;
    opacity: 0;
    padding: 10px;
    transition: all 0.35s;
}

.card-hover__link5:hover svg {
    transform: translateX(4px);
}

.card-hover__link5 svg {
    width: 18px;
    margin-left: 4px;
    transition: transform 0.3s;
}

.card-hover__extra5 {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #86b971;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #dee8c2;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.35s;
}

.card-hover__extra5 span {
    color: #2d7f0b;
}

.card-hover5 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}


/*card 6*/
.card-hover6 {
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
    left: 450px;
    bottom: 1700px;

}

.card-hover6:has(.card-hover__link6:hover) .card-hover__extra6 {
    transform: translateY(0);
    transition: transform 0.35s;
}

.card-hover6:hover .card-hover__content6 {
    background-color: #DEE8C2;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover6:hover .card-hover__link6 {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover6:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover__content6 {
    width: 100%;
    text-align: center;
    background-color: #86B971;
    padding: 0 60px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
}

.card-hover__content6::before,
.card-hover__content6::after {
    content: "";
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
}

.card-hover__content6::before {
    top: -80px;
    -webkit-clip-path: ellipse(60% 80px at bottom center);
    clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content6::after {
    bottom: -80px;
    -webkit-clip-path: ellipse(60% 80px at top center);
    clip-path: ellipse(60% 80px at top center);
}

.card-hover__title6 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.card-hover__title6 span {
    color: #2d7f0b;
}

.card-hover__text6 {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-hover__link6 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #2d7f0b;
    opacity: 0;
    padding: 10px;
    transition: all 0.35s;
}

.card-hover__link6:hover svg {
    transform: translateX(4px);
}

.card-hover__link6 svg {
    width: 18px;
    margin-left: 4px;
    transition: transform 0.3s;
}

.card-hover__extra6 {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #86b971;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #dee8c2;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.35s;
}

.card-hover__extra6 span {
    color: #2d7f0b;
}

.card-hover6 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}




/*card 7*/
.card-hover7 {
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
    right: -20px;
    bottom: 2200px;

}

.card-hover7:has(.card-hover__link7:hover) .card-hover__extra7 {
    transform: translateY(0);
    transition: transform 0.35s;
}

.card-hover7:hover .card-hover__content7 {
    background-color: #DEE8C2;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover7:hover .card-hover__link7 {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover7:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover__content7 {
    width: 100%;
    text-align: center;
    background-color: #86B971;
    padding: 0 60px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
}

.card-hover__content7::before,
.card-hover__content7::after {
    content: "";
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
}

.card-hover__content7::before {
    top: -80px;
    -webkit-clip-path: ellipse(60% 80px at bottom center);
    clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content7::after {
    bottom: -80px;
    -webkit-clip-path: ellipse(60% 80px at top center);
    clip-path: ellipse(60% 80px at top center);
}

.card-hover__title7 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.card-hover__title7 span {
    color: #2d7f0b;
}

.card-hover__text7 {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-hover__link7 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #2d7f0b;
    opacity: 0;
    padding: 10px;
    transition: all 0.35s;
}

.card-hover__link7:hover svg {
    transform: translateX(4px);
}

.card-hover__link7 svg {
    width: 18px;
    margin-left: 4px;
    transition: transform 0.3s;
}

.card-hover__extra7 {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #86b971;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #dee8c2;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.35s;
}

.card-hover__extra7 span {
    color: #2d7f0b;
}

.card-hover7 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}




/*card 8*/
.card-hover8 {
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
    right: -890px;
    bottom: 2699px;

}

.card-hover8:has(.card-hover__link8:hover) .card-hover__extra8 {
    transform: translateY(0);
    transition: transform 0.35s;
}

.card-hover8:hover .card-hover__content8 {
    background-color: #DEE8C2;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover8:hover .card-hover__link8 {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover8:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover__content8 {
    width: 100%;
    text-align: center;
    background-color: #86B971;
    padding: 0 60px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
}

.card-hover__content8::before,
.card-hover__content8::after {
    content: "";
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
}

.card-hover__content8::before {
    top: -80px;
    -webkit-clip-path: ellipse(60% 80px at bottom center);
    clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content8::after {
    bottom: -80px;
    -webkit-clip-path: ellipse(60% 80px at top center);
    clip-path: ellipse(60% 80px at top center);
}

.card-hover__title8 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.card-hover__title8 span {
    color: #2d7f0b;
}

.card-hover__text8 {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-hover__link8 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #2d7f0b;
    opacity: 0;
    padding: 10px;
    transition: all 0.35s;
}

.card-hover__link8:hover svg {
    transform: translateX(4px);
}

.card-hover__link8 svg {
    width: 18px;
    margin-left: 4px;
    transition: transform 0.3s;
}

.card-hover__extra8 {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #86b971;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #dee8c2;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.35s;
}

.card-hover__extra8 span {
    color: #2d7f0b;
}

.card-hover8 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}





/*card 9*/
.card-hover9 {
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
    right: -1320px;
    bottom: 3200px;

}

.card-hover9:has(.card-hover__link9:hover) .card-hover__extra9 {
    transform: translateY(0);
    transition: transform 0.35s;
}

.card-hover9:hover .card-hover__content9 {
    background-color: #DEE8C2;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover9:hover .card-hover__link9 {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover9:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover__content9 {
    width: 100%;
    text-align: center;
    background-color: #86B971;
    padding: 0 60px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
}

.card-hover__content9::before,
.card-hover__content9::after {
    content: "";
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
}

.card-hover__content9::before {
    top: -80px;
    -webkit-clip-path: ellipse(60% 80px at bottom center);
    clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content9::after {
    bottom: -80px;
    -webkit-clip-path: ellipse(60% 80px at top center);
    clip-path: ellipse(60% 80px at top center);
}

.card-hover__title9 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.card-hover__title9 span {
    color: #2d7f0b;
}

.card-hover__text9 {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-hover__link9 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #2d7f0b;
    opacity: 0;
    padding: 10px;
    transition: all 0.35s;
}

.card-hover__link9:hover svg {
    transform: translateX(4px);
}

.card-hover__link9 svg {
    width: 18px;
    margin-left: 4px;
    transition: transform 0.3s;
}

.card-hover__extra9 {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #86b971;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #dee8c2;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.35s;
}

.card-hover__extra9 span {
    color: #2d7f0b;
}

.card-hover9 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}


/*card 10*/
.card-hover10 {
    width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
    right: -1760px;
    bottom: 3700px;

}

.card-hover10:has(.card-hover__link10:hover) .card-hover__extra10 {
    transform: translateY(0);
    transition: transform 0.35s;
}

.card-hover10:hover .card-hover__content10 {
    background-color: #DEE8C2;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover10:hover .card-hover__link10 {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover10:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.card-hover__content10 {
    width: 100%;
    text-align: center;
    background-color: #86B971;
    padding: 0 60px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
}

.card-hover__content10::before,
.card-hover__content10::after {
    content: "";
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
}

.card-hover__content10::before {
    top: -80px;
    -webkit-clip-path: ellipse(60% 80px at bottom center);
    clip-path: ellipse(60% 80px at bottom center);
}

.card-hover__content10::after {
    bottom: -80px;
    -webkit-clip-path: ellipse(60% 80px at top center);
    clip-path: ellipse(60% 80px at top center);
}

.card-hover__title10 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.card-hover__title10 span {
    color: #2d7f0b;
}

.card-hover__text10 {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-hover__link10 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #2d7f0b;
    opacity: 0;
    padding: 10px;
    transition: all 0.35s;
}

.card-hover__link10:hover svg {
    transform: translateX(4px);
}

.card-hover__link10 svg {
    width: 18px;
    margin-left: 4px;
    transition: transform 0.3s;
}

.card-hover__extra10 {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #86b971;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #dee8c2;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.35s;
}

.card-hover__extra10 span {
    color: #2d7f0b;
}

.card-hover10 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}












.footer {
    position: relative;
    bottom: auto;
}





.footer_container{
    width: 100%;
    padding: 70px 30px;

}

.social_icons{
    display: flex;
    justify-content: center;
}

.social_icons a{
    text-decoration: none;
    padding: 20px;
    background-color: #000000;
    color: white;
    margin: 30px;
    border-radius: 50%;
}

.social_icons a{
    font-size: 2em;
    opacity: 0.5;
}

.social_icons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.social_icons a:hover i{
    background-color: #000000;
    transition: 0.2s;
}

.footer_nav{
    margin: 30px 0;
}

.footer_nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer_nav ul  li a{
    color: rgb(0, 0, 0);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 1;
    transition: 0.5s;
}
.footer_nav  ul li a:hover{
    opacity:0.1
}


.bottm{
    background-color: rgb(0, 0, 0);
    padding: 12px;
    font-size: 12px;
    color: rgb(255, 253, 253);
    text-align: center;
    font-size: 19px;
    font-style: bold;
}

.texto
{
    background-color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.title
{
    text-align: center;
    color: red;
}

.texto p{
    color: blue;
}

.texto h1 
{
    color: #111;
}










/*Carrusel*/
.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    bottom: 1000px;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}
